h1 {
    color: #385170;
    text-align: center;
 }

 .fondo{
    background-color: #151515;
 }
 
 h2 {
    color: #385170;
    text-align: center;
 }

 h3 {
    color: #385170;
    text-align: center;
 }

 div {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #385170;
    text-align: center;
 }

 ul{
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: -0.5%;
    margin-left: -1.5%;
 }

 .blackshadow-div{
   box-shadow: 0 0 5px #888;
 }

 p{
   column-count: 2;
   column-gap: 20px;
 }

 .bordes-redondos{
   border: 1px solid #385170;
   border-radius: 5px;
 }