.center{
    text-align: center;
}

.texto-rojo{
    color: #dc143c;
}

.height-25{
    height: 25%; 
}

.position-right-nav{
    margin-left: 80%;
}

.flex-div-column{
    flex-direction: row;
}

.fondo-cambiado{
    border-radius: 5px;
    background-color: #dc143c;
    color: #000;
}

.bold-inmortalizar{
    font-size: 20px;
    color:chartreuse;
}

.progress-inmortalizado{
    background-color: chartreuse !important;
}

.fondo{
    background-color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc143c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc143c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

@media (min-width: 300px) {
    .full-col-responsive{
        flex: 1 0 0% !important
    }
}

@media (max-width: 1100px) {
    .position-right-nav{
        margin-left: 73%;
    }
    .full-col-responsive{
        flex: 1 0 100% !important
    }
}

@media (max-width: 1200px) {
    .position-right-nav{
        margin-left: 75%;
    }
}

